@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Dashboard</h3>
    </div>
</div>
@*<div class="row">
    <div class="col-md-12">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">...</div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>
    </div>
</div>*@
@*<div class="row" style="height:500px">
    <div class="col-md-12">
        <hr />
        <h4>Persebaran Instruktur</h4>
    </div>
    <div class="col-md-12" style="height:85%">
        <div id="map"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
        <h4>Grafik Kegiatan per Provinsi</h4>
    </div>
    <div class="col-md-12">
        <form>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        Tahun Anggaran
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" id="Years"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        Provinsi
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" id="States" multiple="multiple"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input onclick="loadGraph()" id="btnLoadGraph" type="button" value="Load" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
       
    </div>
    <div class="col-md-12" id="container">
        <canvas id="canvas"></canvas>
    </div>

</div>*@